/* Public Main */

h1 {
  margin-bottom: 28px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 48px 0px 0px 0px;
  gap: 36px;
}

#splashOne {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0px 12px 0px;
  gap: 120px;
  width: 70%;
  min-height: 312px;
}

#splashTwo {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0px 6px 0px;
  gap: 120px;
  width: 70%;
  min-height: 312px;
}

#splashThree {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 12px 0px 12px 0px;
  gap: 36px;
  max-width: 70%;
  min-height: 312px;
}

#mainText {
  max-width: 432px;
}

#topImage {
  max-width: 432px;
}

#topImageChild {
  height: auto;
  max-width: 432px;
}

#secondChild {
  max-width: 432px;
}

#secondImage {
  height: auto;
  max-width: 432px;
}

.thirdChild {
  max-width: 70%;
}

#bottomChild {
  background-color: #0d4196;
  color: white;
  border-radius: 12px;
  max-width: 270px;
  padding: 18px 0px 18px 0px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  margin: 56px 140px 56px 140px;
}

@media (max-width: 1080px) {
  #splashOne,
  #splashTwo,
  #splashThree {
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }

  #splashOne,
  #splashTwo {
    gap: 60px;
  }

  #splashThree {
    max-width: 100%;
    margin-bottom: 24px;
  }
}

/* Header Logged Out */

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.construction {
  margin: 12px;
  padding: 12px 36px 12px 36px;
  color: rgb(194, 115, 18);
}

#headerContainer {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 0px;
  max-width: 70%;
}

@media (max-width: 1080px) {
  #headerContainer {
    max-width: 440px;
  }
}

#headerChild {
  display: flex;
  justify-content: space-between;
}

#headerButton {
  padding: 8px;
  align-self: center;
}

#headerGrandchild {
  text-align: right;
}

#basic-nav-dropdown {
  text-align: right;
}

#logo {
  width: 288px;
}

#navdropdownContainer {
  width: 100%;
  display: flex;
  justify-content: right;
}

.dropdown-menu {
  background-color: #0d4296e5;
  padding-left: 12px;
  width: 20%;
}

.dropdown-item {
  color: white;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.city {
  max-width: 70%;
  border: 2px solid #0d4196;
  border-radius: 12px;
}

/* Public Contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 42px 0;
  gap: 28px;
}

#contactChild {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Public FAQ */

#faq {
  display: flex;
  flex-direction: column;
}

#freq {
  color: #0d4196;
}

/* Public Login & Register */
#login,
#register {
  display: flex;
  flex-direction: column;
}

#registerContainer,
#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0px 70px 0px;
}

#regSubmit {
  margin-top: 28px;
}
